<mat-card style="margin: 16px;" *ngIf="flight" class="booking-form">
    <mat-card-header>
        <mat-card-title>Booking Form</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="bookingForm" (ngSubmit)="onBook()">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <mat-form-field appearance="outline">
                    <mat-label>Full Name</mat-label>
                    <input matInput formControlName="name" required />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" required />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contact Number</mat-label>
                    <input matInput formControlName="contactNumber" required />
                </mat-form-field>
            </div>
            <p>Total Price: ${{ flight.price }}</p>
            <button mat-raised-button color="primary" type="submit">Confirm Booking</button>
        </form>
    </mat-card-content>
</mat-card>