.home-page-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0; // Remove default margin
    height: 100vh; // Full viewport height
    background-image: url('../../../assets/airplane.jpg');
    background-size: cover; // Cover the entire background
    background-position: center; // Center the image
    background-repeat: no-repeat; // Prevent image from repeating

    .inside-wrapper {
        width: 90%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .inside-inside-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}