<div class="home-page-wrapper">
    <app-flight-search (search)="onFlightSearch($event)"></app-flight-search>
    <div class="noData" *ngIf="noData">
        No flights available with these criteria
    </div>
    <div class="inside-wrapper">
        <app-flight-results *ngIf="flights.length > 0" [flights]="this.flights"
            (flightSelected)="onFlightSelect($event)"></app-flight-results>
        <div class="inside-inside-wrapper">
            <app-flight-details *ngIf="selectedFlight" [flight]="selectedFlight"
                (proceedToBooking)="onProceedToBooking()"></app-flight-details>
            <app-booking-form (onBookFlight)="onBooking($event)" style="width: 100%;" *ngIf="bookingFlight" [flight]="selectedFlight"></app-booking-form>
        </div>
    </div>
</div>